@import url('colors.css');

.tfat {
  background-color: var(--tfat-color) !important;
}

.tfat-text {
  color: var(--tfat-color) !important;
}

.tfat-background {
  background-color: var(--tfat-bg-color) !important;
}

.tfat.lighten-5 {
  background-color: #e0f2f1 !important;
}

.tfat-text.text-lighten-5 {
  color: #e0f2f1 !important;
}

.tfat.lighten-4 {
  background-color: #b2dfdb !important;
}

.tfat-text.text-lighten-4 {
  color: #b2dfdb !important;
}

.tfat.lighten-3 {
  background-color: #80cbc4 !important;
}

.tfat-text.text-lighten-3 {
  color: #80cbc4 !important;
}

.tfat.lighten-2 {
  background-color: #4db6ac !important;
}

.tfat-text.text-lighten-2 {
  color: #4db6ac !important;
}

.tfat.lighten-1 {
  background-color: #26a69a !important;
}

.tfat-text.text-lighten-1 {
  color: #26a69a !important;
}

.tfat.darken-1 {
  background-color: #00897b !important;
}

.tfat-text.text-darken-1 {
  color: #00897b !important;
}

.tfat.darken-2 {
  background-color: #00796b !important;
}

.tfat-text.text-darken-2 {
  color: #00796b !important;
}

.tfat.darken-3 {
  background-color: #00695c !important;
}

.tfat-text.text-darken-3 {
  color: #00695c !important;
}

.tfat.darken-4 {
  background-color: #004d40 !important;
}

.tfat-text.text-darken-4 {
  color: #004d40 !important;
}

.tfat.accent-1 {
  background-color: #a7ffeb !important;
}

.tfat-text.text-accent-1 {
  color: #a7ffeb !important;
}

.tfat.accent-2 {
  background-color: #64ffda !important;
}

.tfat-text.text-accent-2 {
  color: #64ffda !important;
}

.tfat.accent-3 {
  background-color: #1de9b6 !important;
}

.tfat-text.text-accent-3 {
  color: #1de9b6 !important;
}

.tfat.accent-4 {
  background-color: #00bfa5 !important;
}

.tfat-text.text-accent-4 {
  color: #00bfa5 !important;
}

.tfat-success {
  background-color: var(--tfat-success-color) !important;
}

.tfat-warning {
  background-color: var(--tfat-warning-color) !important;
}

.tfat-error {
  background-color: var(--tfat-error-color) !important;
}

.tfat-logo {
    height: 2.1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
} 

.btn.disabled, .disabled.btn-large, .disabled.btn-small,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-flat[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn.disabled:hover, .disabled.btn-large:hover, .disabled.btn-small:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn-small.disabled:hover,
.btn-flat.disabled:hover,
.btn:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-floating:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-flat:disabled:hover,
.btn[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-floating[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-flat[disabled]:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}

.btn, .btn-large, .btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
  font-size: 14px;
  outline: 0;
}

.btn i, .btn-large i, .btn-small i,
.btn-floating i,
.btn-large i,
.btn-small i,
.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}

.btn:focus, .btn-large:focus, .btn-small:focus,
.btn-floating:focus {
  background-color: #1d7d74;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #2bbbad;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
}

.btn-floating:hover {
  background-color: #26a69a;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
  width: 56px;
  height: 56px;
  padding: 0;
}

.btn-floating.btn-large.halfway-fab {
  bottom: -28px;
}

.btn-floating.btn-large i {
  line-height: 56px;
}

.btn-floating.btn-small {
  width: 32.4px;
  height: 32.4px;
}

.btn-floating.btn-small.halfway-fab {
  bottom: -16.2px;
}

.btn-floating.btn-small i {
  line-height: 32.4px;
}

.btn-floating.halfway-fab {
  position: absolute;
  right: 24px;
  bottom: -20px;
}

.btn-floating.halfway-fab.left {
  right: auto;
  left: 24px;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 40px;
}

button.btn-floating {
  border: none;
}

footer {
    position: fixed !important;
    padding: 0.2em;
    bottom: 0;
    left: 0;
    width: 100%;   
}

body {
  background-color: var(--tfat-bg-color);
  padding-bottom: 5em;
}

.disziplin {
    max-height: 40px;
    max-width: 40px;
    margin: 10px auto -10px;
    display: inline-block;
    position: relative;
}

[type="radio"]:checked, [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    background-color: var(--tfat-color) !important;
    border: 2px solid var(--tfat-color) !important;
}

/* label focus color */
input[type=text]:focus + label, input[type=number]:focus + label, textarea:focus + label, select:focus + label {
  color: #000 !important;
}

/* input field underline color */
.input-field input.valid[type=text], input.valid[type=number], textarea.valid {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important;
}

/* input field underline focus color */
.input-field input[type=text]:focus, input[type=number]:focus, textarea:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}