/* Using Google Material Symbols Font, self-hosted to be able
   to cache for offline use */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(assets/MaterialSymbolsOutlined.woff2) format('woff2');
}

.material-symbols {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.disziplin {
    max-height: 40px;
    max-width: 40px;
    margin: 10px auto -10px;
    display: inline-block;
    position: relative;
}

[type="radio"]:checked, [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    background-color: #e51c23 !important; /* materialize-red*/
    border: 2px solid #e51c23 !important;
}